.inputStyle {
  width: 100%;
  padding: 0.625rem 0.125rem;
  border: 0;
  border-bottom: 0.125rem solid rgba(150, 163, 171, 0.5);
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  outline-style: none;
}

.inputStyle:disabled {
  opacity: 0.5;
}
