* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  max-width: 56.25rem;
  margin: auto;
}

header {
  margin: 2.5rem 0;
}

header img {
  max-width: 9.375rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
}

.leftSide h1 {
  font-size: 2.5rem;
  color: #3a4b5c;
  margin: 0;
}

.leftSide p {
  color: #6a7d8b;
  margin-bottom: 2.5rem;
}

.rightSide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.875rem, auto));
  gap: 0.625rem;
  position: relative;
}

.backArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  background-color: #267e9f;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  margin-left: -1.875rem;
  margin-top: 40%;
  cursor: pointer;
  transition: all ease 0.3s;
}

.backArrow img {
  width: 1.5625rem;
}

@media (max-width: 56.25rem) {
  header {
    padding: 0 1.25rem;
  }

  .container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    padding: 0 1.25rem 1.25rem 1.25rem;
  }

  .backArrow {
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
    background-color: inherit;
    transform: rotate(90deg);
  }
}
